# Dependencies
node_modules

# Build outputs
dist/
build/
.svelte-kit/

# Rust / Tauri
src-tauri/target/

# macOS binaries
*.dmg
*.app

# Environment
.env
.env.*

# macOS
.DS_Store

# Claude
.claude
claude.md

# Project specific
mac-desktop-taski-*
